############# begin Atlas config section ##########
--noNimblePath
--path:"deps/bearssl"
--path:"deps/chronos"
--path:"deps/httputils"
--path:"deps/results"
--path:"deps/stew"
--path:"deps/unittest2"
############# end Atlas config section   ##########
