############# begin Atlas config section ##########
--noNimblePath
--path:"deps/chronos"
--path:"deps/results"
--path:"deps/bearssl"
--path:"deps/websock"
--path:"deps/stew"
--path:"deps/httputils"
--path:"deps/nim-unittest2"
--path:"deps/chronicles"
--path:"deps/nimcrypto"
--path:"deps/zlib"
--path:"deps/faststreams"
--path:"deps/serialization"
--path:"deps/json_serialization"
--path:"deps/testutils"
############# end Atlas config section   ##########
